# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
env/
venv/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore any custom files
my_secret_file.txt
config.json
